<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Profesores</title>
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>

  <div class="container">
    <h2>Gestión de Profesores</h2>

    <button id="btnAgregar">Agregar Profesor</button>

    <table border="1" width="100%" style="margin-top:20px;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Asignaturas</th>
          <th>Año</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tablaProfesores">
      </tbody>
    </table>

    <br>
    <button onclick="window.location.href='dashboard.html'">Volver</button>
  </div>

  <script src="../assets/js/profesores.js"></script>
</body>
</html>