<header class="dashboard-topbar">
  <div>
    <h1>Gestión de Profesores</h1>
    <p>Administra los profesores registrados dentro del sistema.</p>
  </div>
  <div class="d-flex gap-2 align-center">
    <button class="btn-principal" id="btnAgregarProfesor">+ Agregar Nuevo</button>
  </div>
</header>

<section class="modulo-profesores">
  <div class="profesores-barra mt-0">
    <input type="text" id="buscadorProfesores" class="input-global w-100 max-w-420" placeholder="Buscar profesor por nombre o rut...">
  </div>
  <div id="listaProfesores" class="lista-profesores"></div>
</section>
